@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url("https://cdn.syncfusion.com/ej2/material.css");

body {
  font-family: 'Righteous', cursive;
  color: #d14f4f;
  line-height: 1.7;
  font-size: 19px;
  background: #ebeaea;
}

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

.nasa-photo {
  display: flex;
  margin: 20px auto;
  width: 75%;
  border-radius: 10px;
  background: white;
  position: relative;
  box-shadow: 21px 25px 23px -7px rgb(0 0 0 / 15%);
}

.nasa-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.nasa-photo h1 {
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #222222b3;
  overflow-wrap: break-word;
  margin-right: 25px;
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: #e77171;
}

.reactions{
  display: flex;
  background: white;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  opacity: 0;
  transform: translateY(50px);
  margin: 5px 0;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reactions img, .reaction-action img{
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
}

.footer{
  background: #222222;
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
}

.footer-icons{
  margin-top: 10px;
}
.footer-icons svg{
  width: 2rem;
  height: 2rem;
  padding: 0 20px;
  color: white;
}

.img-container{
  width: 30%;
  margin-right: 30px;
}

.data-container{
  width: 70%;
}

.reaction-action{
  height: 35px;
  display: flex;
  cursor: pointer;
}

.reaction-action svg{
  border-radius: 50%;
}

.datepicker-wrapper{
  width: 100%;
  margin-top: 20px;
}

span.e-input-group.e-control-wrapper.e-date-range-wrapper {
  width: 350px;
  margin: 0 auto;
  display: flex;
}
.css-fpqs8j{
  display: contents !important;
}

.vertical-dots{
  width: 5px;
  height: 5px;
  margin-bottom: 3px;
  background: #222222b3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 15px;
}

.vertical-dots-container {
  height: auto;
  margin: 20px 25px 0 0;
  cursor: pointer;
}

/*  */
#menu #list {
    max-height: 0;
    transition: max-height .5s ease-out;
    overflow: hidden;
    position: absolute;
    right: 1%;
    list-style: none;
}

#menu svg{
  border-radius: 50%;
}

@media (max-width: 1025px) {
  .nasa-photo {
    display: block;
    width: 95%;
    margin: 20px auto;
    height: auto;
    max-height: unset;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    max-height: 250px;
    height: 250px;
    border-radius: 10px 10px 0 0;
  }
  .reactions img, .reaction-action img {
    width: 35px;
    height: 35px;
  }
  .reaction-action{
    justify-content: space-between;
  }

  .nasa-photo .date {
    margin-bottom: 10px;
  }
  .nasa-photo .explanation {
    margin-right: 0;
    margin-top: 0px;
  }

  .nasa-photo h1 {
    font-size: 24px;
    margin-top: 0;
  }

  .reactions img {
    width: 100%;
    margin: 0 10px;
  }

  .img-container{
    width: 100%;
  }

  .data-container{
    width: 90%;
    margin: 0 auto;
  }
  span.e-input-group.e-control-wrapper.e-date-range-wrapper {
    width: 80%;
  }

  .vertical-dots-container {
    position: absolute;
    top: 0;
    right: 0;
  }

  #menu #list {
    top: 5%;
    right: 5%;
  }

  .vertical-dots {
    background: #fafafa;
  }

}