@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url("https://cdn.syncfusion.com/ej2/material.css");

body {
  font-family: 'Righteous', cursive;
  color: #d14f4f;
  line-height: 1.7;
  font-size: 19px;
  background: #fad0c4;
}

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 100%;
  max-height: 250px;
  height: 250px;
  object-fit: cover;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #222222b3;
  overflow-wrap: break-word;
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: #e77171;
}

.reactions{
  display: flex;
  background: white;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

.reactions img, .reaction-action img{
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
}

.footer{
  background: #222222;
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
}

.footer-icons{
  margin-top: 10px;
}
.footer-icons svg{
  width: 2rem;
  height: 2rem;
  padding: 0 20px;
  color: white;
}

.img-container{
  width: 30%;
  margin-right: 30px;
}

.data-container{
  width: 70%;
}

.reactions{
  opacity: 0;
  transform: translateY(50px);
  margin-top: 5px;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reaction-action{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.datepicker-wrapper{
  width: 100%;
  margin-top: 20px;
}

span.e-input-group.e-control-wrapper.e-date-range-wrapper {
  width: 50%;
  margin: 0 auto;
  display: flex;
}

@media (max-width: 768px) {
  .nasa-photo {
    display: block;
    padding: 10px 40px;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .reactions img {
    width: 100%;
    margin: 0 10px;
  }

  .img-container{
    width: 100%;
  }

  .data-container{
    width: 100%;
  }
  span.e-input-group.e-control-wrapper.e-date-range-wrapper {
    width: 80%;
  }

}